
<div align="center">
  <% if @institution.logo.attached? %>
    <img src="<%= (url_for(@institution.logo)) %>" alt="<%= @institution.name %> logo" width="700" height="300">
  <% end %>
</div>

<div class = "well well-lg">
  <h1 align="center"><%= @instituion.name %></h1>
  <% if @institution.state? %>
    <h3 align="center"><%= @institution.city %>, <%= @institution.state %>, <%= @institution.country %></h2>
  <% else %>
    <h3 align="center"><%= @institution.city %>, <%= @institution.country %></h2>
  <% end %>
</div>

<div class = "institution-actions">
    <% if logged_in? %> 
        <% if current_user.admin? %>
            <%= link_to 'Edit Institution', edit_institution_path(@institution), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Delete Institution', institution_path(@institution), method: :delete, data: {confirm: "Are you sure you want to delete the institution?"}, class: "btn btn-xs btn-danger" %>
        <% end %> 
    <% end %>  
</div>

<div class = "well well-lg">
  <div align="center">
    <ul>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">List of Courses<span class="caret"></span></a>
        <div align="center">
          <ul class="dropdown-menu">
            <% Course.where("institution_id = ?", @institution.id).each do |course| %>
              <li><%= link_to "#{course.coursename}", course_path(course) %></li>
            <% end %>
          </ul>
        </div>
      </li>

    </ul>
  </div>
</div>


