<div align="center">
    <% if @institution.logo.attached? %>
        <img src="<%= (url_for(@institution.logo)) %>" alt="<%= @institution.name %> logo" width="700" height="300">
    <% else %>
        <h1 align="center"><%= @institution.name %></h1>
        <% if @institution.state? %>
            <h3 align="center"><%= @institution.city %>, <%= @institution.state %>, <%= @institution.country %></h2>
        <% else %>
            <h3 align="center"><%= @institution.city %>, <%= @institution.country %></h2>
        <% end %>
    <% end %>
</div>

<h2 align="center">Major: <%= @major.majorname %></h2>

<div class = "well well-lg">
    <h4 class = "center description"><strong style="color:blue;">Major Description:</strong></h4>
    <p align="center"><%= @major.description %></p>

    <div class = "major-actions">  
      <div align="center">      
        <%= link_to 'Edit major', edit_major_path(@major), class: "btn btn-xs btn-primary" %>
        <%= link_to 'Delete major', major_path(@major), method: :delete, data: {confirm: "Are you sure you want to delete the major?"}, class: "btn btn-xs btn-danger" %>  
        <%= link_to 'Add Course', new_course_path(institution_id: @institution.id, major_id: @major.id), class: "btn btn-xs btn-success" %> 
        <%= link_to "Back to #{@institution.name} Homepage", institution_path(@institution), class: "btn btn-xs btn-danger" %>
      </div>
    </div>

</div>



<!-- DISABLE AUTHENTICATION FOR LOCAL DEVELOPMENT -->

<% 
=begin %>
<!--
<div class = "major-actions">  
    <% if logged_in? %> 
        <% if current_user.admin? %>
            <%= link_to 'Edit major', edit_major_path(@major), class: "btn btn-xs btn-primary" %>
            <%= link_to 'Delete major', major_path(@major), method: :delete, data: {confirm: "Are you sure you want to delete the major?"}, class: "btn btn-xs btn-danger" %>
        <% end %> 
    <% end %> 
</div>
-->
<% 
=end %>


<!-- ENABLE FUNCTIONALITY FOR LOCAL DEVELOPMENT --->
  
<br />

<div class = "well well-lg">
  <h2 align="center"><%= @major.majorname %> Courses</h2>
  <% @major.courses.each do |c| %>
    <div align="center">
      <p><%= link_to "#{c.coursename}", course_path(c) %> 
        &nbsp;&nbsp;.........&nbsp;&nbsp; 
        <%= c.reviews.count %> reviews</p>
      <br />
    </div>
  <% end %>
</div>
