<% if @course.errors.any? %>
<h2>The following errors prevented courses from created</h2>
<ul>
    <% @course.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
</ul>
<% end %>

<%= form_for @course do |f| %>
    <p>
        <%= f.label :coursename %><br/>
        <%= f.text_field :coursename %>
    </p>

    <p>
        <%= f.label :course_content %><br/>
        <%= f.text_field :course_content %>
    </p>
    <p>
        <%= f.submit %>
    </p>
<% end %>

<%= link_to "Back to courses listing", courses_path %>
