<h1>Listing all Courses</h1>
<p><%= link_to "Create new Course", new_course_path %></p>

<% @courses.each do |course| %>
    <div class = "row">
        <div class = "col-xs-8" col-xs-offset-2">
            <div class = "well well-lg">
                <div class = "course-title">
                    <%= link_to course.coursename, course_path(course) %></td>
                </div>
                <div class = "course-body">
                    <%= truncate(course.course_content, length: 100) %></td>
                </div>
                <%= link_to 'Edit', edit_course_path(course), class: "btn btn-xs btn-primary" %>
                <%= link_to 'Delete', course_path(course), method: :delete, data: {confirm: "Are you sure you want to delete the course?"}, class: "btn btn-xs btn-danger" %>
            </div>
        </div>
    </div>
<% end %>
